<div class="d-flex flex-column">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" routerLinkActive="active" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="/aboutus" routerLinkActive="active" class="nav-link px-2 text-muted">Sobre Nós</a></li>
      <li class="nav-item"><a routerLink="/contactus" routerLinkActive="active" class="nav-link px-2 text-muted">Fale Conosco</a></li>
      <li class="nav-item"><a routerLink="/faqs" routerLinkActive="active" class="nav-link px-2 text-muted">FAQs</a></li>
    </ul>
    <p class="text-center text-muted">© 2025<a href="https://www.linkedin.com/in/edson-nascimento-359584197/" style="text-decoration:none" target="_blank">Edson Nascimento</a></p>
  </footer>
</div>
