<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ - Perguntas Frequentes</title>
  <style>
    body {
      background-color: #f4f4f4;
      padding-top: 50px;
    }

    .container {
      max-width: 800px;
    }

    .faq-title {
      text-align: center;
      margin-bottom: 30px;
    }

    .faq-item {
      margin-bottom: 20px;
    }
  </style>
</head>

<main>

  <div class="container">
    <h1 class="faq-title">FAQ - Perguntas Frequentes</h1>

    <div class="faq-item">
      <h4><strong>O que é o Mãozinha?</strong></h4>
      <p class="ms-3">Mãozinha é uma plataforma que auditora e conecta pessoas que precisam de pequenas ajudas a outras pessoas dispostas a contribuirem monetariamente com uma causa.</p>
    </div>

    <div class="faq-item">
      <h4><strong>Como posso fazer uma doação?</strong></h4>
      <p class="ms-3">Para fazer uma doação, basta acessar a plataforma, escolher uma mãozinha disponível e seguir as instruções para
        transferir a quantia desejada.</p>
    </div>

    <div class="faq-item">
      <h4><strong>A doação é segura?</strong></h4>
      <p class="ms-3">Sim, todas as transações são realizadas de forma segura, e a quantia doada vai diretamente para a conta dos
        requisitantes das mãozinhas(Taxas podem ser aplicadas por bancos terceiros).</p>
    </div>

    <div class="faq-item">
      <h4><strong>As mãozinhas são verificadas?</strong></h4>
      <p class="ms-3">Sim, todas as mãozinhas são auditadas e analisadas pela equipe Mãozinha para garantir que não haja nenhuma
        fraude ou golpe.</p>
    </div>
  </div>
</main>
