<nav class="navbar navbar-expand-lg bg-primaryred nav-custom" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/" routerLinkActive="active">Mãozinha</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/aboutus" routerLinkActive="active">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contactus" routerLinkActive="active">Fale Conosco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/faqs" routerLinkActive="active">FAQs</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Proucar Mãozinha" aria-label="Search">
        <button class="btn btn-success me-2 ms-2" type="submit">Procurar</button>
      </form>
      <a href="logout" class="btn btn-primary "><i class="fa-solid fa-right-from-bracket"></i>Login</a>
    </div>
  </div>
</nav>
