<main>
  <div class="container mt-5">
    <div class="p-4 rounded shadow bg-white">
      <h2 class="text-center">Nossa Missão</h2>
      <p class="text-center text-muted">Ajudar pessoas que precisam de ajuda monetária para fins médicos e semelhantes a
        se conectarem com
        doadores dispostos.
      </p>

          <h3 class="text-center">O que é o Mãozinha?</h3>
          <p class="text-center text-muted">O Mãozinha é uma plataforma que conecta pessoas que precisam de ajuda a doadores dispostos a contribuir.
            Acreditamos que pequenos gestos podem transformar vidas.</p>

      <div class="mt-4">
        <h2 class="text-center">Nosso Compromisso</h2>
        <ul class="list-unstyled">
          <li class="text-center text-muted"><strong>Transparência:</strong> Todas as doações vão diretamente para os requisitantes.</li>
          <li class="text-center text-muted"><strong>Segurança:</strong> Todas as mãozinhas são auditadas para evitar fraudes.</li>
          <li class="text-center text-muted"><strong>Comunidade:</strong> Criamos uma rede de solidariedade, onde todos podem contribuir.</li>
        </ul>
      </div>

      <div class="text-center mt-4">
        <a href="index.html" class="btn btn-primary">Voltar para o Início</a>
      </div>
    </div>
  </div>
</main>
